# 18/05 - Pair Programming ETL 4 (3.1) - Guadalupe & Lara

**BBDD en MySQL**

Es el momento de meter todos nuestros datos en SQL 💪🏽
- En este ejercicio nos crearemos dos tablas en una BBDD creada por nosotras. Una de las tablas contendrá la información que obtuvimos de los ejercicios de pair programming de Limpieza, es decir, el data set de ataques de tiburones limpito. La segunda tabla tendrá la información obtenida en el ejercicio de pair de ETL 1.

📌 Nota Todo lo tendremos que hacer desde jupyter notebook
1. Cread la BBDD con el nombre de tiburones.
2. Cread las tablas de la BBDD:
3. Tabla ataques
4. Tabla clima

BONUS Insertar los datos en las tablas. 
📌 Nota Esta parte del pair es optativa y no será considerada para la evaluación

🚨 En caso de que no tengáis los datos unidos de la sesión anterior, tenéis un csv datos_union_clima_ataques con todos los datos que necesitareis para este ejercicio

In [1]:
import pandas as pd
import mysql.connector 
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [2]:
df = pd.read_csv("datos_union_clima_ataques.csv", index_col=0)
df.head(2)

,case_number,year,type,country,area,location,activity,name,age,time,species_,injury,fecha_limpia,fatal,sex,pais,rh_950mb,rh_900mb,rh_850mb,rh_800mb,rh_750mb,rh_700mb,rh_650mb,rh_600mb,rh_550mb,rh_500mb,rh_450mb,rh_400mb,rh_350mb,rh_300mb,rh_250mb,rh_200mb,wind_950mb,wind_900mb,wind_850mb,wind_800mb,wind_750mb,wind_700mb,wind_650mb,wind_600mb,wind_550mb,wind_500mb,wind_450mb,wind_400mb,wind_350mb,wind_300mb,wind_250mb,wind_200mb,index,timepoint,cloudcover,highcloud,midcloud,lowcloud,temp2m,lifted_index,rh2m,msl_pressure,prec_amount,snow_depth,wind10m.direction,wind10m.speed
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,"No injury to occupant, outrigger canoe and pad...",Jun,N,F,USA,4.953125,6.15625,6.8125,6.296875,5.03125,5.296875,5.234375,5.09375,5.078125,6.015625,6.5,6.84375,7.296875,5.265625,4.015625,-0.3125,3.125,3.375,3.6875,3.75,3.609375,3.625,4.046875,4.5625,5.140625,5.671875,6.1875,6.59375,7.0,7.546875,7.90625,7.21875,31.5,97.5,5.078125,-9999.0,-9999.0,-9999.0,11.421875,9.6875,4.25,1013.703125,1.234375,0.0,192.109375,2.921875
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,AdysonÂ McNeely,11,14h00 -15h00,NaN,Minor injury to left thigh,Jun,N,F,USA,4.953125,6.15625,6.8125,6.296875,5.03125,5.296875,5.234375,5.09375,5.078125,6.015625,6.5,6.84375,7.296875,5.265625,4.015625,-0.3125,3.125,3.375,3.6875,3.75,3.609375,3.625,4.046875,4.5625,5.140625,5.671875,6.1875,6.59375,7.0,7.546875,7.90625,7.21875,31.5,97.5,5.078125,-9999.0,-9999.0,-9999.0,11.421875,9.6875,4.25,1013.703125,1.234375,0.0,192.109375,2.921875

In [3]:
x = mysql.connector.connect(
    host="PC",
    user="root",
    password="AlumnaAdalab" 
    )
   
cursor = x.cursor()

try:
        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {'tiburones'};")
        print("¡Base de datos creada!")
except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

¡Base de datos creada!

In [4]:
#Queries:

# Ataques:

ataques2 = '''CREATE TABLE IF NOT EXISTS `ataques` (
                'case_number'  VARCHAR(45) NOT NULL PRIMARY KEY, 
                'year' FLOAT NOT NULL,
                'type'  VARCHAR(45) NOT NULL, 
                'country'  VARCHAR(45) NOT NULL, 
                'area'  VARCHAR(45) NOT NULL,
                'location'  VARCHAR(45) NOT NULL,                              
                'activity'  VARCHAR(45) NOT NULL,
                'name'  VARCHAR(45) NOT NULL,
                'age'  VARCHAR(45) NOT NULL,
                'time'  VARCHAR(45) NOT NULL,
                'species_'  VARCHAR(45) NOT NULL,
                'injury'  VARCHAR(45) NOT NULL,
                'fecha_limpia'  VARCHAR(45) NOT NULL,
                'fatal'  VARCHAR(45) NOT NULL,
                'sex'  VARCHAR(45) NOT NULL
                ); '''

In [5]:
#Queries:

# Ataques:

ataques = '''CREATE TABLE IF NOT EXISTS `ataques` (
                `case_number`  VARCHAR(45) NOT NULL PRIMARY KEY, 
                `year` FLOAT NOT NULL,
                `type`  VARCHAR(45) NOT NULL, 
                `country`  VARCHAR(45) NOT NULL, 
                `area`  VARCHAR(45) NOT NULL,
                `location`  VARCHAR(45) NOT NULL,                              
                `activity`  VARCHAR(45) NOT NULL,
                `name`  VARCHAR(45) NOT NULL,
                `age`  VARCHAR(45) NOT NULL,
                `time`  VARCHAR(45) NOT NULL,
                `species_`  VARCHAR(45) NOT NULL,
                `injury`  VARCHAR(45) NOT NULL,
                `fecha_limpia`  VARCHAR(45) NOT NULL,
                `fatal`  VARCHAR(45) NOT NULL,
                `sex`  VARCHAR(45) NOT NULL
                ); '''

In [6]:
x = mysql.connector.connect(
    host="PC",
    user="root",
    password="AlumnaAdalab",
    database = "tiburones"
    )
   
cursor = x.cursor()
try: 
    cursor.execute(ataques)
    #cursor.commit() 

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

In [60]:
# Clima:

clima = ''' CREATE TABLE IF NOT EXISTS `clima` (
                case_number VARCHAR(45) NOT NULL PRIMARY KEY,
                rh_950mb  FLOAT NOT NULL,
                rh_900mb  FLOAT NOT NULL,
                rh_850mb  FLOAT NOT NULL,
                rh_800mb  FLOAT NOT NULL,
                rh_750mb  FLOAT NOT NULL,
                rh_650mb FLOAT NOT NULL,
                rh_600mb FLOAT NOT NULL,
                rh_700mb FLOAT NOT NULL,
                rh_550mb FLOAT NOT NULL,
                rh_500mb FLOAT NOT NULL,
                rh_450mb FLOAT NOT NULL,
                rh_400mb FLOAT NOT NULL,
                rh_350mb FLOAT NOT NULL,
                rh_300mb FLOAT NOT NULL,
                rh_250mb FLOAT NOT NULL,
                rh_200mb FLOAT NOT NULL,
                wind_950mb FLOAT NOT NULL,
                wind_900mb FLOAT NOT NULL,
                wind_850mb FLOAT NOT NULL,
                wind_800mb FLOAT NOT NULL,
                wind_750mb FLOAT NOT NULL,
                wind_700mb FLOAT NOT NULL,
                wind_650mb FLOAT NOT NULL,
                wind_600mb FLOAT NOT NULL,
                wind_550mb FLOAT NOT NULL,
                wind_500mb FLOAT NOT NULL,
                wind_450mb FLOAT NOT NULL,
                wind_400mb FLOAT NOT NULL,
                wind_350mb FLOAT NOT NULL,
                wind_300mb FLOAT NOT NULL,
                wind_250mb FLOAT NOT NULL,
                wind_200mb FLOAT NOT NULL,
                timepoint  FLOAT NOT NULL,
                cloudcover FLOAT NOT NULL,
                highcloud FLOAT NOT NULL,
                midcloud FLOAT NOT NULL,
                lowcloud FLOAT NOT NULL,
                temp2m FLOAT NOT NULL,
                lifted_index FLOAT NOT NULL,
                rh2m FLOAT NOT NULL,
                msl_pressure FLOAT NOT NULL,
                prec_amount FLOAT NOT NULL,
                snow_depth FLOAT NOT NULL,
                wind10m_direction FLOAT NOT NULL,
                wind10m_speed FLOAT NOT NULL
          
                ); '''

In [61]:
x = mysql.connector.connect(
    host="PC",
    user="root",
    password="AlumnaAdalab",
    database = "tiburones"
    )
   
cursor = x.cursor()
try: 
    cursor.execute(clima)
    #cursor.commit() 

except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

# INTENTO DE METER DATOS

In [70]:
#Columnas Ataques

ataques_cols = ['case_number', 'year', 'type' , 'country', 'area', 'location', 'activity', 'name', 'age',
                'time', 'species_', 'injury', 'fecha_limpia' , 'fatal','sex']

In [67]:
df_reducido = df[ataques_cols]

KeyError: "['agetime'] not in index"

In [73]:
for columna in df[ataques_cols]:
        for fila in df.iterrows():
                
                contenido_ataques = f"""
                INSERT INTO ataques
                KEYS ({columna})
                VALUES ("{fila}");
                """
                try:
                        x = mysql.connector.connect(
                        host="PC",
                        user="root",
                        password="AlumnaAdalab",
                        database = "tiburones"
                         )
   
                        cursor = x.cursor()

                        try: 
                                cursor.execute(clima)
                        except:
                                print("hola")
                except:
                        print("Sorry, girl")